<% content_for(:title, t('.title')) %>
<div class="w-full max-w-sm my-24">
  <div class="card w-96 bg-base-100 shadow-xl mt-3 mb-3">
    <div class="card-body">
      <h1 class="font-bold flex justify-center"><%= t '.title' %></h1>
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-2">
          <div class="pt-2 pb-1">
            <%= f.label :name %>
          </div>
          <%= f.text_field :name, class: 'w-full rounded border border-gray-200 p-2' %>
        </div>
        <div class="mb-2">
          <div class="pt-2 pb-1">
            <%= f.label :email, class: 'block mb-1' %>
          </div>
          <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
        </div>
        <div class="mb-2">
          <div class="pt-2 pb-1">
            <%= f.label :avatar, class: 'block mb-1' %>
          </div>
          <%= f.file_field :avatar %>
        </div>
        <div class="my-8 md:text-center">
          <%= f.submit '更新', class: 'btn btn-active' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


