<% content_for(:title, t('.title')) %>
<div class="w-full max-w-sm my-24">
  <div class="card w-96 bg-base-100 shadow-xl mt-3 mb-3">
    <div class="card-body">
      <h1 class="flex justify-center font-bold mt-5"><%= t '.title' %></h1>
      <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-2">
          <div class="pt-2 pb-1">
           <%= f.label :email, User.human_attribute_name(:email) %>
          </div>
          <%= @user.email %>
        </div>
        <div class="mb-2">
          <div class="pt-2 pb-1">
           <%= f.label :password %>
          </div>
          <%= f.password_field :password, class: 'w-full rounded border border-gray-200 p-2' %>
        </div>
        <div class="mb-2">
          <div class="pt-2 pb-1">
           <%= f.label :password_confirmation %>
          </div>
          <%= f.password_field :password_confirmation, class: 'w-full rounded border border-gray-200 p-2' %>
        </div>
        <div class="my-8 text-center">
          <%= f.submit t('defaults.change'), class: 'btn btn-active' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
