<div class="bg-[url('omiyage.png')] bg-cover bg-center w-full">  
  <div class="container mx-auto px-4">  
    <div class="flex flex-col items-center">
      <div class="w-full h-auto my-5">
        <div class="flex">
          <div class='w-1/2'>
            <h1 class='lg:text-4xl md:text-3xl text-2xl'>ステップ１</h1>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-xl'>
              <p>宿泊先名</p>
              <p>旅行日時</p>
              <p>お土産購入日</p>
              <p>この3つを登録しましょう！</p>
            </div>
          </div>
          <div class='w-1/2'>
            <%= image_tag 'cac11d9eb9235f0138f97511201a5694.png', class: 'max-h-96 w-72' %>
          </div>
        </div>
      </div>
      <div class="w-full h-auto my-5">
        <div class="flex">
          <div class='w-1/2'>
            <h1 class='lg:text-4xl md:text-3xl text-2xl'>ステップ２</h1>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-2xl'>
              <p>購入したいお土産を検索し、</p>
              <p>保存ボタンクリックすることで,</p>
              <p>保存します。</p>
            </div>
          </div>
          <div class='w-1/2'>   
            <%= image_tag '74cad64841246c31ccc2219892fe31c3.png', class: 'max-h-96 w-72' %> 
          </div>
        </div>
      </div>
      <div class="w-full h-auto my-5">
        <div class="flex">
          <div class='w-1/2'>
            <h1 class='lg:text-4xl md:text-3xl text-2xl'>ステップ３</h1>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-2xl'>
              <p>店舗を追加したい</p>
              <p class='mb-5'>→「店舗を追加する」をクリック</p>
              <p>保存した店舗のルート検索をしたい</p>
              <p>→「道案内画面へ」をクリック</p>
            </div>
          </div>
          <div class='w-1/2'>
            <%= image_tag 'f60c5525d5ea1106922bf8cd859cb355.png', class: 'max-h-96  w-72'%>
          </div>
        </div>
      </div>
      <div class="w-full h-auto my-5 text-white">
        <div class="flex">
          <div class='w-1/2'>
            <h1 class='lg:text-4xl md:text-3xl text-2xl'>ステップ４</h1>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-2xl'>
              <p>「現在位置からルート検索」ボタンをクリックすると</p>
              <p>現在位置から保存した店舗を経由して</p>
              <p>登録した宿泊施設までのルートをマップに表示します。</p>
            </div>
          </div>
          <div class='w-1/2'>
            <%= image_tag '8f60ea4ca88bc8344b7abdba215e1bce.png', class: 'max-h-96  w-72'%>   
          </div>
        </div>
      </div>
      <div class="w-full h-auto my-5 text-white">
        <div class="flex">
          <div class='w-1/2'>
            <h1 class='mt-5 lg:text-4xl md:text-3xl text-2xl'>ステップ５</h1>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-2xl'>
              <h1>1.LINEログイン</h1>
              <p class='mb-5'>プロフィール画面のLINE連携ボタンを押して</p>
              <p>LINEでログインしよう！</p>
            </div>
          </div>
          <div class='w-1/2'>
            <%= image_tag 'FE24178A-CCD8-49AD-9E88-AAD001EBF04E.png', class: 'max-h-96 w-72'%>
          </div>
        </div>
      </div>
      <div class="w-full h-auto my-5 text-white">
        <div class="flex">
          <div class='w-1/2'>
            <div class='leading-loose md:whitespace-pre-line lg:text-2xl md:text-2xl'>
              <h1>2.LINE通知</h1>
              <p>LINEと連携しておくことで、</p>
              <p>登録しておいた宿泊先のお土産購入日の朝7時に、</p>
              <p>LINEで通知されます！</p>
            </div>
          </div>
          <div class='w-1/2'>
            <%= image_tag 'C6C66D19-0010-4247-AEA3-39E3AC16C07C.png', class: 'max-h-96 w-72'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
