<header>
  <div class="navbar bg-neutral text-base-100">
    <div class="flex-1">
      <%= link_to "お土産案内さん", "/", class: "btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><%= link_to "宿泊先一覧", "#" %></li>
        <li><%= link_to "宿泊先作成", "#" %></li>
      </ul>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52  text-neutral">
          <li>
            <a class="justify-between">
              プーさん
            </a>
          </li>
          <li><%= link_to t('defaults.mypage'), "#" %></li>
          <li><%= link_to t('defaults.logout'), logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
