<div class="card w-96 bg-base-100 shadow-xl mt-3 mb-3">
  <div class="card-body">
    <h1 class="flex justify-center font-bold mt-5"><%= (t'rodgings.new.title')%></h1>
    <%= form_with model: rodging, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-2">
        <div class="pt-2 pb-1">
          <%= f.label :address, class: 'block mb-1' %>
        </div>
        <%= f.search_field :address, autofocus: true,placeholder: "宿泊先名を入力してください", class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
      <div class="mb-2">
        <div class="pt-2 pb-1">
          <%= f.label :start_time, class: 'block mb-1' %>
        </div>
        <div class="flex">
          <%= f.datetime_field :start_time, data: { controller: "flatpickr" }, class: 'rounded border border-gray-200 p-2' %>
          〜
          <%= f.datetime_field :end_time, data: { controller: "flatpickr" }, class: 'rounded border border-gray-200 p-2' %>
        </div>
      </div>
      <div class="mb-2">
        <div class="pt-2 pb-1">
          <%= f.label :shopping_day, class: 'block mb-1' %>
        </div>
        <%= f.datetime_field :shopping_day, data: { controller: "flatpickr" }, class: 'rounded border border-gray-200 p-2' %>
      </div>
      <div class="my-8 text-center">
        <%= f.submit t('defaults.keep'), class: 'btn btn-active' %>
      </div>
    <% end %>
  </div>
</div>
