<!-- Googleマップ表示エリア(地図を表示) -->
<div>  
  <div class="card w-96 bg-base-100 font-bold shadow-xl mt-5 mb-5">
    <div class="card-body">
      <button class="text-xl"><%= rodging.address %></button>
      <div><%= render 'rodging_map', rodging: rodging %></div>
      <div><%= Rodging.human_attribute_name(:start_time)%></div>
      <div class='flex justify-start'>
        <div class='mr-3 mb-3'><%= rodging.start_time.strftime('%Y年%m/%d') %></div>
        <div>〜</div>
        <div class='ml-3'><%= rodging.end_time.strftime('%Y年%m/%d') %></div>
      </div>
      <div><%= Rodging.human_attribute_name(:shopping_day)%></div>
      <div><%= rodging.shopping_day.strftime('%Y年%m/%d') %></div>
      <div class="card-actions justify-center">
        <button class="btn btn-secondary"><%= (t'defaults.change')%></button>
        <button class="btn btn-primary"><%= (t'defaults.delete')%></button>
      </div>
    </div>
  </div>
</div>
